# Emacs backups
*~

# IntelliJ IDEA / PyCharm
.idea/
*.iml
out/

# Generated jsdoc directory
doc-gen/

# Log files
*.log

# tmp directories everywhere
tmp/

# Personal information
personal-info/

# Python specific stuff.

*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Virtual environment.
venv/
